[Desktop Entry]
Version=1.0
Name=Google Photos
Comment=Open Google Photos in a borderless Chrome window
Exec=bash -c "exec ~/my-dotfiles/applications/kiosk-browser https://photos.google.com"
Icon=google-photos
Terminal=false
Type=Application
Categories=Graphics;
