[Desktop Entry]
Version=1.0
Name=Google Drive
Comment=Open Google Drive in a borderless Chrome window
Exec=/opt/google/chrome/google-chrome --user-data-dir="~/.config/google-chrome/KioskProfile" --app=https://drive.google.com --kiosk
Icon=google-chrome
Terminal=false
Type=Application
Categories=Office;
