[Desktop Entry]
Version=1.0
Name=Slack
Comment=Open Slack in a borderless Chrome window with Profile 3
Exec=/opt/google/chrome/google-chrome --user-data-dir="~/.config/google-chrome/KioskProfile" --app=https://app.slack.com/client --disable-extensions --kiosk
Icon=slack
Terminal=false
Type=Application
Categories=Network;
