[Desktop Entry]
Version=1.0
Name=Spotify Web Player
Comment=Open Spotify Web Player in a borderless Chrome window
Exec=/home/ari/my-dotfiles/applications/kiosk-browser https://open.spotify.com
Icon=spotify
Terminal=false
Type=Application
Categories=Audio;Music;Player;Internet;
