[Desktop Entry]
Version=1.0
Name=Spotify Web Player
Comment=Open Spotify Web Player in a borderless Chrome window
Exec=bash -c "exec google-chrome -user-data-dir="~/.config/google-chrome/KioskProfile" --disable-extensions-except=cjpalhdlnbpafiamejdnhcphjbkeiagm --kiosk -app="$@""
Icon=spotify
Terminal=false
Type=Application
Categories=Audio;Music;Player;Internet;
