[Desktop Entry]
Version=1.0
Name=Spotify Web Player
Comment=Open Spotify Web Player in a borderless Chrome window
Exec=/opt/google/chrome/google-chrome --user-data-dir="~/.config/google-chrome/KioskProfile" --app=https://open.spotify.com --disable-extensions --kiosk  
Icon=spotify
Terminal=false
Type=Application
Categories=Audio;Music;Player;Internet;
