[Desktop Entry]
Version=1.0
Name=Todoist
Comment=Open Todoist in a borderless Chrome window
Exec=bash -c "exec ~/my-dotfiles/applications/kiosk-browser https://todoist.com/app/"
Icon=todoist
Terminal=false
Type=Application
Categories=Internet;
